<div id="comments-wrapper" class="<%= 'current_user_is_admin' if current_user %>">

  <!-- Star rating -->
  <div id="YAC-star-rating" class="mb-3">
    <p class="h1 text-secondary"><span class="post-avg_star_rate"><%= @post.rating_avg %></span></p>
    <p class="h5 text-secondary">Average ratings</p>

    <div class="rating-group rating-group-lg">
      <% 5.times do |i| %>
        <span class="fa fa-star rating-item disabled <%= 'active' if (i + 1) <= @post.rating_avg.round %>"></span>
      <% end %>
    </div>

    <p class="mb-0" style="font-size: 13px"></p>
  </div>

  <!-- Alert -->
  <%# if @post.displayed_comments_count.zero? %>
    <%#= comment_component.alert type: :primary, message: 'Yac! You can start the first comment =b' %>
  <%# else %>
    <%#= comment_component.alert type: :primary, message: 'Halo! Did you comment? not? How did you feel that product?' %>
  <%# end %>

  <!-- Main Nav -->
  <%=
    comment_component.main_nav(
      organization: @organization,
      site: @site,
      post: @post,
      comments: @comments
    )
  %>

  <br>
  <br>
  <% if i_can_comment(@comments, @setting) %>
    <!-- New comment form -->
    <%= comment_component.form comment: @post.comments.new, url: embed_post_comments_path(@post) %>
  <% end %>

  <!-- Comments thread -->
  <div class="comments-thread">
    <span id="newbie-comment-position"></span>

    <%= comment_component.comments @comments %>

    <div id="comments-more-btn-wrapper" class="d-<%= 'none' if @pagy.next.nil? %> text-center w-100 mb-5">
      <%= js_link_to 'Load more', embed_post_comments_path(@post, page: @pagy.next, format: :js), id: 'comments-more-btn', class: 'btn btn-outline-secondary rounded-pill shadow' %>
    </div>
  </div>

  <!-- Footer -->
  <%=
    comment_component.footer(
      site: @site,
    )
  %>
</div>
