<%= form_for(admin_permission, url: url, local: true) do |form| %>
  <div class="card-body p-4">
    <% if admin_permission.errors.any? %>
      <div id="error_explanation alert alert-danger">
        <h2><%= pluralize(admin_permission.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% admin_permission.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <%= form.label :admin_id, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%=
          form.collection_select(
            :admin_id,

            # 이미 존재하는 관리자의 경우 미리 옵션으로 주입해,
            # 중복된 권한 레코드를 생성하지 않도록 막아줍니다.
            # -> <옵션 데이터셋>, <옵션 값>, <옵션 텍스트>
            @organization.admins, :id, :name,

            # 페이지 로딩시 인풋은 비어있는 상태로 유지합니다.
            { include_blank: true },

            # 자동완성 로직은 이곳에서 컨트롤 합니다.
            # packs/service/ui/auto-complete.js 를 참고하세요.
            {
              data: {
                autocomplete_src: search_admins_path,
                autocomplete_placeholder: 'Search an exist user with name or email...',
                autocomplete_template: 'admin'
              }
            }
          )
        %>
      </div>
    </div>
  </div>

  <div class="card-footer bg-white p-4">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <%= link_to 'Back', organization_admin_permissions_path(@organization.id), class: 'btn btn-secondary mr-2' %>
        <%= form.submit 'Make Permission', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
